body {
    background-color: #63A46C;
}

#logo {
    width: 60px;
}



#centercard {
    padding-top: 200px;
}

.description {
    padding-top: 200px;
    text-align: center;
}

#curiositylogo {
    width: 200px;
}
